/* SELECTOR GENERAL*/
*{
	
	font-family: 'Merriweather';
}
/*ANIMACION DE LAS PARTICULAS JS*/
#particles-js {
    width: 100%;
    height: 100%auto;
    position: fixed;

}
/*CLASE GENERALES*/
.navbar , .about , footer{
	
	background: #da2c38;
	overflow: hidden;
    color: #f4f0bb;
}
.hero , .iconos
{
	background: #f4f0bb;
    color:  #da2c38;
}
.logo, .frase
{
	color:#F6DEAF; 
	font-weight: bolder;
}
#btn_menu
{ 
	border:1px solid white; 
	background-color: transparent; 
}

/*ESTA ES LA PARTE DEL HEADER*/
header nav .navbar-nav li a {color: #f4f0bb;} 
header nav .navbar-nav li :hover {background-color:#f4f0bb; color:#da2c38;}  
header span{background-color: #7D7D7D;}
header { padding: 10px; }
.logo
{
	padding-left: 100px;
}

/*ESTA ES LA PARTE DEL HOME*/
.home
{
	background: url('../img/creamy.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.degradado
{
	background-color: rgba(19,19,19,0.75);
}
.frase
{
	padding: 170px 0px ;
	margin: 0 auto;
}
/*ESTA ES LA PARTE DEL HERO*/
.hero
{
	padding: 20px 0px;
}
/*ESTA ES LA PARTE DEL ABOUT*/
.about{
	padding-bottom: 20px;
}
/*ESTA ES LA PARTE DE LOS ICONOS*/
.iconos
{
	padding: 20px 0px 80px 0px;
}
.icon-container
{
	font-size: 80px;
}
/*ESTA ES LA SECCION DEL FOOTER*/
footer
{	
	padding: 10px 0px 0px 0px;

}