@media screen and (max-width:1000px) {
	
	.logo
	{
		font-size: 15px;
       padding-left: 30px;
    }
		
	}
	header nav .navbar-nav {padding: 0px;}
    header nav .navbar-nav li a {text-align: center;} 
}